/*body { padding-top:30px; }*/
.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline;color: #337ab7;font-weight: bold; }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size:1em;font-style: italic; font-family: cambria;}
.widget .action { margin-top:5px; }
.widget .comment-text { font-size:1.1em;font-family: calibri; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }
.widget .user-name{color: #337ab7;font-family: calibri; font-size: 1.1em;line-height:1.4em;font-weight: bold;}
.widget .accordion-inner{padding:1em;}
/*.accordion-toggle:after {
    font-family: 'FontAwesome';
    content: "\f078";    
    float:center;
    font-size: 1em;
}
.accordion-opened .accordion-toggle:after {    
    content: "\f054";    
    font-size: 1em;
}*/
#map_canvas { height: 100% }

 div#gmap {
        padding: 1em;
        width: 80%;
        height: 300px;
        border:1px solid #337ab7;
 }