/*super admin */
/*Main CSS*/
html{
    
}
body {
height: 100%;
width: 100%;
position: absolute;
}

/*Login Signup Page*/
a:focus,a:hover,a{
    outline:none;
    text-decoration: none;
}
li,ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.header-top i {
    font-size: 18px;
}
.bg-image {
    background: url(../images/background-login.jpg) no-repeat 0 0 / cover;
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
}

.login-header {
    display: inline-block;
    width: 100%;
    background: #0e1a35;
}

.login-signup {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.login-logo img {
    cursor: pointer;
    max-width: 171px;
    padding: 23px 15px 22px;
    width: 100%;
}

.login-header .navbar-right {
    margin-right: 0px;
}

.login-header .nav-tabs > li.active > a,
.login-header .nav-tabs > li.active > a:focus,
.login-header .nav-tabs > li.active > a:hover {
    background-color: transparent;
    border: none;
    color: #fff;
}

.login-header .nav-tabs > li > a {
    border: medium none;
    border-radius: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
    padding: 15px 30px;
    color: #fff;
}

.login-header .nav-tabs {
    border-bottom: none;
}

.login-header .nav-tabs > li {
    margin-bottom: 0px;
}

.login-header .nav > li > a:focus,
.login-header .nav > li > a:hover {
    background: none;
    text-decoration: none;
}

.login-header .nav-tabs > li.active {
    border-bottom: 6px solid #5584ff;
}

.login-inner h1 {
    color: #8492af;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-inner h1 span {
    color: #5584ff;
}

.login-form {
    text-align: center;
}

.login-form input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #d4d9e3;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    font-size: 13px;
    font-weight: 300;
    width: 100%;
    color: #8492af;
    padding: 15px 50px;
    font-size: 17px;
    max-width: 550px;
}

.login-form label {
    margin-bottom: 30px;
    width: 100%;
}

.user input {
    background: rgba(0, 0, 0, 0) url("../images/user.png") no-repeat scroll 7px 12px;
}

.pass input {
    background: rgba(0, 0, 0, 0) url("../images/password.png") no-repeat scroll 7px 12px;
}

.mail input {
    background: rgba(0, 0, 0, 0) url("../images/mail.png") no-repeat scroll 4px 12px;
}

.login-signup .tab-content {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: inline-block;
    margin-top: -8px;
    width: 100%;
}

.form-btn {
    background: #5584ff none repeat scroll 0 0;
    border: medium none;
    border-radius: 100px;
    color: #ffffff;
    font-weight: 400;
    max-width: 250px;
    padding: 10px 0;
    position: relative;
    width: 100%;
    margin: 40px 0;
    box-shadow: 0 2px 8px #d2d2d2;
    -moz-box-shadow: 0 2px 8px #d2d2d2;
    -webkit-box-shadow: 0 2px 8px #d2d2d2;
}

.form-btn::before {
    content: "";
    font-family: FontAwesome;
    position: absolute;
    right: 17px;
    top: 9px;
}

.form-details {
    padding: 35px 0;
}

.tab-content .tab-pane {
    padding: 70px 0;
}


/*Login Signup Page*/


/*Home Page*/

.home {
    background: #ffffff;
}

#navigation {
    background: #0e1a35;
        position: relative;
}

#navigation {
    padding: 0;
}

.display-table {
    display: table;
    padding: 0;
    height: 100%;
    width: 100%;
}

.display-table-row {
    display: table-row;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    float: none;
    height: 100%;
}

.v-align {
    vertical-align: top;
}
.logo img {
    max-width: 180px;
    padding: 16px 0 17px;
    width: 100%;
}

.header-top {
    margin: 0;
    padding-top: 2px;
}

.header-top img {
    border-radius: 50%;
    max-width: 48px !important;
    width: 100%;
}

.add-project {
    background: #5584ff none repeat scroll 0 0;
    border-radius: 100px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 27px 10px 45px;
    position: relative;
}

.header-rightside .nav > li > a:focus,
.header-rightside .nav > li > a:hover {
    background: none;
    text-decoration: none;
}

.add-project::before {
    background: rgba(0, 0, 0, 0) url("../images/plus.png") no-repeat scroll 0 0;
    content: "";
    ;
    height: 12px;
    left: 17px;
    position: absolute;
    top: 12px;
    width: 12px;
}

.add-project:hover {
    color: #ffffff;
}

.header-top i {
    color: #0e1a35;
}

.icon-info {
    position: relative;
}
.navi i {
    font-size: 20px;
}
.label.label-primary {
    border-radius: 50%;
    font-size: 9px;
    left: 8px;
    position: absolute;
    top: -9px;
}

.icon-info .label {
    border: 2px solid #ffffff;
    font-weight: 500;
    padding: 3px 5px;
    text-align: center;
}

.header-top li {
    display: inline-block;
    text-align: center;
}

.header-top .dropdown-toggle {
    color: #0e1a35;
}

.header-top .dropdown-menu {
    border: medium none;
    left: -85px;
    padding: 17px;
}
.view {
    background: #5584ff none repeat scroll 0 0;
    border-radius: 100px;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    padding: 10px 15px;
}

.navbar-content > span {
    font-size: 13px;
    font-weight: 700;
}

.img-responsive {
    width: 100%;
}
#navigation{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.search input {
    border: none;
    font-size: 15px;
    padding: 15px 9px;
    width: 100%;
    background: rgba(0, 0, 0, 0) url("../images/search.png") no-repeat scroll 99% 12px;
    color: #8492af;
    border-radius: 2em solid #BDC4D4;
}

header {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.04);
    display: inline-block !important;
    line-height: 23px;
    padding: 15px;
    transition: all 0.5s ease 0s;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.logo {
    text-align: center;
}

.navi a {
    border-bottom: 1px solid #0d172e;
    border-top: 1px solid #0d172e;
    color: #ffffff;
    display: block;
    font-size: 17px;
    font-weight: 500;
    padding: 28px 20px;
    text-decoration: none;
}

.navi i {
    margin-right: 15px;
    color: #5584ff;
}

.navi .active a {
    background: #122143;
    border-left: 5px solid #5584ff;
    padding-left: 15px;
}

.navi a:hover {
    background: #122143 none repeat scroll 0 0;
    border-left: 5px solid #5584ff;
    display: block;
    padding-left: 15px;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: rgba(0, 0, 0, 0);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #0e1a35;
}

.circle-logo {
    margin: 0 auto;
    max-width: 30px !important;
    text-align: center;
}
.hidden-xs{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.user-dashboard {
    padding: 0 20px;
    position: relative;
    padding-top:0.5em;
 
    
}

.user-dashboard h1 {
    color: #0e1a35;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    padding: 21px 0;
}

.row{
  
}
.footer {
  position: absolute;
  right: 0;
  bottom:0;
  left: 0;
  padding: 0rem;
  background-color: #efefef;
  text-align: center;
}

.footer .p{
    float: left;
    color:#999;
    font-family: calibri;
}
.footer .p1{
    float: right;
    color:#999;
    font-family: calibri;
}
   #map {
        height: 400px;
        margin-top:2em;
      }
/*.sos{
     position: fixed; 
     width:100%;
    bottom:0;
    
}
.sos-button{
    width:15%;
    background: red;
   text-align: center;
    color:#fff;
    font-size:3em;
     padding:2em;
     border-radius: 10%;
}
.bottom {
       position: relative;
}
*/
.wrap {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 100%;
   padding:0 3em;
}

.button-trip{
 background: rgb(59,103,158); /* Old browsers */
background: -moz-linear-gradient(top, rgb(59,103,158) 0%, rgb(43,136,217) 50%, rgb(32,124,202) 51%, rgb(125,185,232) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgb(59,103,158) 0%,rgb(43,136,217) 50%,rgb(32,124,202) 51%,rgb(125,185,232) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgb(59,103,158) 0%,rgb(43,136,217) 50%,rgb(32,124,202) 51%,rgb(125,185,232) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 80%;
   padding:0 3em; 
   border-radius: 50%; 
   
}
.button-trip img {
    float: left;
    font-weight: 600;
    margin: 0;
    padding: 1em 0 0;
    margin-left:-1.5em;
}
.button-trip h2 {
    /*color: #8492af;*/
    color:#fff;
    float: left;
    font-size: 1.8em;
    font-weight: 600;
    margin: 2em 0em 2em 0.5em; 
   vertical-align: middle;
}


.wrap button::before {
    content: "";
    font-family: FontAwesome;
    position: absolute;
    right: 12px;
    top: 11px;
}
.wrap  .btn-group {
    float: right;
}
.wrap img {
    float: left;
    font-weight: 600;
    margin: 0;
    padding: 9px 0 0;
}
.wrap h2 {
    color: #8492af;
    float: left;
    font-size: 19px;
    font-weight: 600;
    margin: 2.5em 0em 2em 0.5em; 
   vertical-align: middle;
   cursor:pointer;
}
.add{
    float:left;
    font-size:32px;
    vertical-align: middle;
    margin:1em 0 0 0.5em;
}
.btn.btn-secondary.btn-lg.dropdown-toggle > span {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.wrap .dropdown-menu{
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-radius: 8px;
    width: 100%;
    color: #0e1a35;
}
.wrap .btn-group.open .dropdown-toggle, .btn.active, .btn:active{
    box-shadow: none;
}
.wrap .dropdown-menu > a {
    color: #0e1a35;
    display: inline-block;
    font-weight: 800;
    padding: 9px 0;
    text-align: center;
    width: 100%;
}
#my-cool-chart svg {
    width: 100%;
}
.wrap .dropdown-menu > a:hover{
    color: #5584FF;   
}
.shield-buttons {
    display: none;
}
.close, .close:focus, .close:hover {
    color: #fff;;
    opacity: 1;
    text-shadow: none;
}
.modal-body input {
    border: 1px solid #d4d9e3;
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0;
    padding: 14px 10px;
    width: 100%;
    color: #8492af;
}
.modal-body textarea {
    border: 1px solid #d4d9e3;
    font-size: 14px;
    font-weight: 300;
    height: 200px;
    margin-top: 5px;
    padding: 9px 10px;
    width: 100%;
    color: #8492af;
}
.modal-header.login-header h4 {
    color: #ffffff;
}
.modal-footer .add-project {
    background: #5584ff none repeat scroll 0 0;
    border: medium none;
    border-radius: 100px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px;
    position: relative;
}
.modal-footer .add-project::before{display: none;}
.modal-footer {
    border: 0 none;
    padding: 10px 15px 26px;
    text-align: right;
}
.cancel {
    background: #0E1A35     ;
    border: medium none;
    border-radius: 100px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px;
    position: relative;
    
}
.modal{
    top: 20%; 
}
.modal-header .close {
    margin-top: 2px;
}
.search input:focus{
    border-bottom: 1px solid #BDC4D4;
    line-height:22px;
    transition: 0.1s all;
    border-radius: 5em solid #BDC4D4;
}
.modal-header.login-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
/*Main CSS*/
.sos-button{
    background: red;
     padding: 2em;
     margin: 6em;
     border-radius: 1em;
}
.sos-text{
   font-size:2.5em;
   color:#ffffff;
}
.stylish, .stylish:focus, .stylish:hover {
    border:none !important;
    border-bottom: 1px solid #ccc !important;
    padding-top:1em !important;
    background: none !important;
  
}

input[type="text"] {
   border:none !important;
    border-bottom: 1px solid #ccc  !important;
    padding-top:1em !important;
    background: none !important; 
   margin-right: 1em !important;
}
.map{
    width:90%;
  padding-bottom:1em;
  padding-top: 1em;

}
.content {
    width:100%;
    padding:3em;
}
.wrapper {
    float:left;
    background: none;
    display: inline-block;
    width: 50%;
    height: 20%;
   
}
.sos-but{
background: red;
color:#fff;
width:200px;
height:200px;
font-size: 2em;
padding:60px;
vertical-align: middle;
text-align: center;
border-radius: 10%;
}
.sos-alert{
background:#0FAFE3;
color:#fff;
width:200px;
padding:40px;
height:200px;
font-size: 2em;
vertical-align: middle;
text-align: center;
border-radius: 10%;
border-spacing: 3em;
}
.sos-alert a{
    color:#fff;
}
.sos-alert a:hover{
    color:#fff;
    list-style: none;
    text-decoration: none;
}
.wrapper button{
    padding: 5em;
}

#snackbar {
    visibility: hidden;
    min-width: 350px;
    margin-left: -125px;
    background-color: #FF4500;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 100px;
    font-size: 17px;
    font-weight:700px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
@media only screen and (max-device-width: 767px) {
    .login-logo img {
        margin: 0 auto;
    }
    .login-details .nav-tabs > li {
        text-align: center;
        width: 50%;
    }
    .login-signup .login-inner h1 {
        font-size: 26px;
        margin-bottom: 0;
        margin-top: 10px;
    }
    .login-inner .login-form input {
        font-size: 15px;
        max-width: 100%;
        padding: 15px 45px;
    }
    .login-inner .form-details {
        padding: 25px;
    }
    .login-inner .login-form label {
        margin-bottom: 20px;
        width: 100%;
    }
    .login-inner .form-btn {
        margin: 0;
        max-width: 180px;
    }
    .tab-content .tab-pane {
        padding: 20px 0;
    }
/*
    #navigation .navi  {
        margin-top:5em;
    }   */
    #navigation .navi a {
        font-size: 14px;
        padding: 20px;
        text-align: center;
       
    }
    #navigation .navi i {
        margin-right: 0px;
    }
    #navigation .navi a:hover,
    #navigation .navi .active a {
        background: #122143 none repeat scroll 0 0;
        border-left: none;
        display: block;
        padding-left: 20px;
    }
    header .header-top img {
        max-width: 38px !important;
    }
    .v-align header {
        padding: 12px 15px;
    }
    header .header-top li {
        padding-left: 13px;
        padding-right: 6px;
    }
    .navbar-default .navbar-toggle {
        border-color: rgba(0, 0, 0, 0);
    }
    .navbar-header .navbar-toggle {
        float: left;
        margin: 0;
        padding: 0;
        top: 12px;
    }
    button,
        html [type="button"],
        [type="reset"],
        [type="submit"] {
            outline: medium none;
    }
    .user-dashboard .wrap h2 {
        color: #8492af;
        float: left;
        font-size: 14px;
        font-weight: 600;
        margin: 0;
        padding: 13px 0 0;
}
    .user-dashboard .btn.btn-secondary.btn-lg.dropdown-toggle > span {
        font-size: 11px;
}
    .user-dashboard .wrap button {
        font-size: 11px;
        padding-right: 23px;
}  
    .user-dashboard .wrap h2 {
    font-size: 12px;
}
.gutter{
    padding: 0;
}

/*
.button-trip{
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 50%;
   padding:0 3em; 
   border-radius: 50%; 
   
}
.button-trip img {
    float: left;
    font-weight: 600;
    margin: 0;
    padding: 9px 0 0;
    margin-left:-0.5em;
}
.button-trip h2 {
    /*color: #8492af;
    color:#fff;
    float: left;
    font-size: 21px;
    font-weight: 600;
    margin: 2.5em 0em 2em 0.5em; 
   vertical-align: middle;
}  */
}


@media only screen and (max-device-width: 992px) {
    header .header-top li {
        padding-left: 20px !important;
        padding-right: 0;
}
    header .logo img {
        max-width: 125px !important;
}
}

@media only screen and (min-device-width: 767px) and (max-device-width: 998px){
      .user-dashboard .header-top {
        padding-top: 5px;
}
    .user-dashboard .header-rightside {
        display: inline-block;
        float: left;
        width: 100%;
}
    .user-dashboard .header-rightside .header-top img {
        max-width: 41px !important;
} 
    .user-dashboard .wrap button {
    font-size: 10px;
}
    .user-dashboard .btn.btn-secondary.btn-lg.dropdown-toggle > span {
    font-size: 12px;
}
    .user-dashboard .wrap h2 {
    font-size: 15px;
}
}
@media only screen and (min-device-width:998px) and (max-device-width: 1350px){
        #navigation .logo img {
    max-width: 130px;
    padding: 16px 0 17px;
    width: 100%;
}
}

@media only screen and (max-device-width:1600px){
.wrap {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 100%;
   padding:0 3em;
}
.wrap img {
    float: left;
    font-size: 21px;
    font-weight: 600;
    margin: 0;
    padding: 9px 0 0;
}
.wrap h2 {
    color: #8492af;
    float: left;
    font-size: 15px;
    font-weight: 600;
    margin: 2.5em 0em 2em 1em; 
   vertical-align: middle;
}
.panel-height{
    height:550px;
    overflow-y: scroll;
    overflow-x:hidden;
}
.panel-height-list{
    height:570px;
    overflow-y: scroll;
    overflow-x:hidden;
}
.trip-panel{
  height:550px;
    overflow-y: scroll;
    overflow-x:hidden;	
}
.add{
    float:left;
    font-size:32px;
    vertical-align: middle;
    margin:1em 0 0 1em;
}
.button-trip{
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 80%;
   padding:0 3em; 
   border-radius: 50%; 
   
}
.button-trip img {
    float: left;
    font-weight: 600;
    margin: 0;
    padding: 9px 0 0;
   margin-left:-1.5em;
}
.button-trip h2 {
    /*color: #8492af;*/
    color:#fff;
    float: left;
    font-size: 19px;
    font-weight: 600;
    margin: 2.5em 0em 2em 0.5em; 
   vertical-align: middle;
}
.sos-button{
    background: red;
     padding: 2em;
     margin: 6em;
     border-radius: 1em;
}
.sos-text{
   font-size:2em;
   color:#ffffff;
}
}

@media only screen and (max-device-width:1440px){
.wrap {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 100%;
   padding:0 3em;
}
.wrap img {
    float: left;
    font-size: 21px;
    font-weight: 600;
    margin: 0;
    padding: 9px 0 0;
}
.wrap h2 {
    color: #8492af;
    float: left;
    font-size: 15px;
    font-weight: 600;
    margin: 2.5em 0em 2em 1em; 
   vertical-align: middle;
}
.add{
    float:left;
    font-size:32px;
    vertical-align: middle;
    margin:1em 0 0 1em;
}
.panel-height-list{
    height:570px;
    overflow-y: scroll;
    overflow-x:hidden;
}
.trip-panel{
  height:550px;
    overflow-y: scroll;
    overflow-x:hidden;	
}
.button-trip{
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 80%;
   padding:0 3em; 
   border-radius: 50%; 
   
}
.button-trip img {
    float: left;
    font-weight: 600;
    margin: 0;
    padding: 9px 0 0;
   margin-left:-1.5em;
}
.button-trip h2 {
    /*color: #8492af;*/
    color:#fff;
    float: left;
    font-size: 19px;
    font-weight: 600;
    margin: 2.5em 0em 2em 0.5em; 
   vertical-align: middle;
}
.sos-button{
    background: red;
     padding: 2em;
     margin: 6em;
     border-radius: 1em;
}
.sos-text{
   font-size:2em;
   color:#ffffff;
}
}

@media only screen and (max-device-width:1366px){
    .panel-height{
    height:620px;
    overflow-y: scroll;
    overflow-x:hidden;
}
.trip-panel{
  height:450px;
    overflow-y: scroll;
    overflow-x:hidden;	
}
.panel-height-list{
    height:500px;
    overflow-y: scroll;
    overflow-x:hidden;
}
.wrap {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 100%;
   padding:0 2em;
}
.wrap img {
    float: left;
    font-size: 21px;
    font-weight: 600;
    margin: 0;
    padding: 9px 0 0;
}
.wrap h2 {
    color: #8492af;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 3em 0em 2em 1em; 
   vertical-align: middle;
}
.add{
    float:left;
    font-size:30px;
    vertical-align: middle;
    margin:1em 0 0 0.5em;
}
.button-trip{
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 80%;
   padding:0 3em; 
   border-radius: 50%; 
   
}
.button-trip img {
    float: left;
    font-weight: 600;
    margin: 0;
    padding: 9px 0 0;
   margin-left:-1.5em;
}
.button-trip h2 {
    /*color: #8492af;*/
    color:#fff;
    float: left;
    font-size: 15px;
    font-weight: 600;
    margin: 3em 0em 2em 0.5em; 
   vertical-align: middle;
}
.sos-button{
    background: red;
     padding:2.3em;
     margin: 5.5em;
     border-radius: 1em;
}
.sos-text{
   font-size:2em;
   color:#ffffff;
}
}
@media only screen and (max-device-width:1280px){
    .panel-height{
    height:500px;
    overflow-y: scroll;
    overflow-x:hidden;
}
.trip-panel{
  height:430px;
    overflow-y: scroll;
    overflow-x:hidden;	
}
.panel-height-list{
    height:470px;
    overflow-y: scroll;
    overflow-x:hidden;
}
.wrap {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 100%;
   padding:0 2em;
}

.wrap img {
    float: left;
    font-size: 21px;
    font-weight: 600;
    margin: 0;
    padding: 9px 0 0;
}
.wrap h2 {
    color: #8492af;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 3em 0em 2em 1em; 
   vertical-align: middle;
}
.add{
    float:left;
    font-size:30px;
    vertical-align: middle;
    margin:1em 0 0 0.5em;
}
.sos-but{
background: red;
color:#fff;
width:200px;
height:200px;
font-size: 2em;
padding:60px;
vertical-align: middle;
text-align: center;
border-radius: 10%;
 margin-right:5em;
}
.sos-alert{
background:#0FAFE3;
color:#fff;
width:200px;
padding:40px;
height:200px;
font-size: 2em;
vertical-align: middle;
text-align: center;
border-radius: 10%;
margin-left: 3em;

}
.button-trip{
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 80%;
   padding:0 3em; 
   border-radius: 50%; 
   
}
.button-trip img {
    float: left;
    font-weight: 600;
    margin: 0;
    padding: 9px 0 0;
   margin-left:-2.4em;
}
.button-trip h2 {
    /*color: #8492af;*/
    color:#fff;
    float: left;
    font-size: 16px;
    line-height: 1.4px;
    font-weight: 600;
    margin: 3em 0em 2em 0.5em; 
   vertical-align: middle;
}
.sos-button{
    background: red;
     padding: 3em;
     margin: 6em;
     border-radius: 1em;
}
.sos-text{
   font-size:2.5em;
   color:#ffffff;
}
}
@media only screen and (max-device-width:1024px){
    .panel-height{
    height:500px;
    overflow-y: scroll;
    overflow-x:hidden;
}
.trip-panel{
  height:400px;
    overflow-y: scroll;
    overflow-x:hidden;	
}
.panel-height-list{
    height:470px;
    overflow-y: scroll;
    overflow-x:hidden;
}


.wrap {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 100%;
   padding:0em 0em;
  
}
.wrap img {
    float: left;
    
    padding: 4px 0 0;
}
.wrap h2 {
    color: #8492af;
    float: left;
    font-size: 1em;
    font-weight: 600;
    margin: 3em 0em 1em 0em; 
   vertical-align: middle;
}
.add{
    float:left;
    font-size:28px;
    vertical-align: middle;
    margin:1em 0 0 0em;
}

.wrapper {
    float:left;
    background: none;
    display: inline-block;
    width: 50%;
    height: 20%;
  
   
}
.sos-but{
background: red;
color:#fff;
width:200px;
height:200px;
font-size: 2em;
padding:60px;
vertical-align: middle;
text-align: center;
border-radius: 10%;
 margin-right:5em;
}
.sos-alert{
background:#0FAFE3;
color:#fff;
width:200px;
padding:40px;
height:200px;
font-size: 2em;
vertical-align: middle;
text-align: center;
border-radius: 10%;
margin-left: 3em;

}
.button-trip{
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 100%;
   padding:0 3em; 
   border-radius: 50%; 
   
}
.button-trip img {
    float: left;
    font-weight: 600;
    margin: 0;
    padding: 9px 0 0;
    margin-left:-1.8em;
}
.button-trip h2 {
    /*color: #8492af;*/
    color:#fff;
    float: left;
    font-size: 15px;
    font-weight: 600;
    margin: 3em 0em 2em 0em; 
   vertical-align: middle;
}
.sos-button{
    background: red;
     padding: 3em;
     margin: 6em;
     border-radius: 1em;
}
.sos-text{
   font-size:2.5em;
   color:#ffffff;
}
}
@media only screen and (max-device-width:1080px){
    .panel-height{
    height:100%;
    overflow-y: scroll;
    overflow-x:hidden;
}
.trip-panel{
  height:100%;
    overflow-y: scroll;
    overflow-x:hidden;	
}
.panel-height-list{
    height:100%;
    overflow-y: scroll;
    overflow-x:hidden;
}
.wrap {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 100%;
   padding:0em 0em;
  
}

.wrap img {
    float: left;
    
    padding: 4px 0 0;
}
.wrap h2 {
    color: #8492af;
    float: left;
    font-size: 1em;
    font-weight: 600;
    margin: 3em 0em 1em 0em; 
   vertical-align: middle;
}
.add{
    float:left;
    font-size:28px;
    vertical-align: middle;
    margin:1em 0 0 0em;
}

.wrapper {
    float:left;
    background: none;
    display: inline-block;
    width: 50%;
    height: 20%;
  
   
}
.sos-but{
background: red;
color:#fff;
width:200px;
height:200px;
font-size: 2em;
padding:60px;
vertical-align: middle;
text-align: center;
border-radius: 10%;
 margin-right:5em;
}
.sos-alert{
background:#0FAFE3;
color:#fff;
width:200px;
padding:40px;
height:200px;
font-size: 2em;
vertical-align: middle;
text-align: center;
border-radius: 10%;
margin-left: 3em;

}
.button-trip{
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 100%;
   padding:0 3em; 
   border-radius: 50%; 
   
}
.button-trip img {
    float: left;
    font-weight: 600;
    margin: 0;
    padding: 9px 0 0;
    margin-left:-1.8em;
}
.button-trip h2 {
    /*color: #8492af;*/
    color:#fff;
    float: left;
    font-size: 15px;
    font-weight: 600;
    margin: 3em 0em 2em 0em; 
   vertical-align: middle;
}
.sos-button{
    background: red;
     padding: 3em;
     margin: 6em;
     border-radius: 1em;
}
.sos-text{
   font-size:2.5em;
   color:#ffffff;
}
}
/*
@media (max-device-width:1280px){
.wrap {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 100%;
   padding:0 2em;
}
.wrap img {
    float: left;
    font-size: 21px;
    font-weight: 600;
    margin: 0;
    padding: 9px 0 0;
}
.wrap h2 {
    color: #8492af;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 3em 0em 2em 1em; 
   vertical-align: middle;
}
.add{
    float:left;
    font-size:30px;
    vertical-align: middle;
    margin:1em 0 0 0.5em;
}
.button-trip{
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 80%;
   padding:0 3em; 
   border-radius: 50%; 
   
}
.button-trip img {
    float: left;
    font-weight: 600;
    margin: 0;
    padding: 9px 0 0;
    margin-left:-1.3em;
}
.button-trip h2 {
   
    color:#fff;
    float: left;
    font-size: 15px;
    font-weight: 600;
    margin: 3em 0em 2em 0.5em; 
   vertical-align: middle;
}
.sos-button{
    background: red;
     padding: 3em;
     margin: 6em;
     border-radius: 1em;
}
.sos-text{
   font-size:2.5em;
   color:#ffffff;
}
}
@media (max-device-width:1280px){
.wrap {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 100%;
   padding:0 2em;
}
.wrap img {
    float: left;
    font-size: 21px;
    font-weight: 600;
    margin: 0;
    padding: 9px 0 0;
}
.wrap h2 {
    color: #8492af;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 3em 0em 2em 1em; 
   vertical-align: middle;
}
.add{
    float:left;
    font-size:30px;
    vertical-align: middle;
    margin:1em 0 0 0.5em;
}
.sos-but{
background: red;
color:#fff;
width:200px;
height:200px;
font-size: 2em;
padding:60px;
vertical-align: middle;
text-align: center;
border-radius: 10%;
 margin-right:5em;
}
.sos-alert{
background:#0FAFE3;
color:#fff;
width:200px;
padding:40px;
height:200px;
font-size: 2em;
vertical-align: middle;
text-align: center;
border-radius: 10%;
margin-left: 3em;

}
.button-trip{
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 80%;
   padding:0 3em; 
   border-radius: 50%; 
   
}
.button-trip img {
    float: left;
    font-weight: 600;
    margin: 0;
    padding: 9px 0 0;
    margin-left:-1.3em;
}
.button-trip h2 {
  
    color:#fff;
    float: left;
    font-size: 15px;
    font-weight: 600;
    margin: 3em 0em 2em 0.5em; 
   vertical-align: middle;
}
.sos-button{
    background: red;
     padding: 3em;
     margin: 6em;
     border-radius: 1em;
}
.sos-text{
   font-size:2.5em;
   color:#ffffff;
}
}
*/
@media only screen and (max-device-width: 991px){
.panel-height{
    height:100%;
    overflow-y: scroll;
    overflow-x:hidden;
}
.trip-panel{
  height:100%;
    overflow-y: scroll;
    overflow-x:hidden;	
}
.panel-height-list{
    height:100%;
    overflow-y: scroll;
    overflow-x:hidden;
}
.wrap {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 45%;
   padding:0 0em;
}
.wrap img {
    float: left;

    font-weight: 600;
    margin: 0;
   /* padding: 1em 0 0 !important; */
    
}
.wrap h2 {
    color: #8492af;
    float: left;
    font-size: 1.5em !important;
    font-weight: 600;
    margin: 1.5em 0em 1em 0.5em !important; 
  
}
.add{
    float:left;
    font-size:38px;
    vertical-align: middle;
   margin: 1.2em 0em 1em 0.8em !important; 
}

.wrapper {
     float:left;
    background: none;
    display: inline-block;
    width: 50%;
    height: 20%;
  
   
}
.sos-but{
background: red;
color:#fff;
width:200px;
height:200px;
font-size: 2em;
padding:60px;
vertical-align: middle;
text-align: center;
border-radius: 10%;
 margin-right:5em;
}
.sos-alert{
background:#0FAFE3;
color:#fff;
width:200px;
padding:40px;
height:200px;
font-size: 2em;
vertical-align: middle;
text-align: center;
border-radius: 10%;
margin-left: 3em;

}
.button-trip{
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 60%;
   padding:0 3em; 
   border-radius: 50%; 
   
}
.button-trip img {
    float: left;
    font-weight: 600;
    margin: 0;
    padding: 4em 0 0;
    margin-left:-1.8em;
}
.button-trip h2 {
    /*color: #8492af;*/
    color:#fff;
    float: left;
    font-size: 3em;
    font-weight: 600;
    margin: 2em 0em 2em 0.4em; 
   vertical-align: middle;
}
.sos-button{
    background: red;
     padding: 3em;
     margin: 6em;
     border-radius: 1em;
}
.sos-text{
   font-size:2.5em;
   color:#ffffff;
}
}
@media only screen and (max-device-width: 800px){

.wrap {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 45%;
   padding:0 0em;
}
.wrap img {
    float: left;

    font-weight: 600;
    margin: 0;
   /* padding: 1em 0 0 !important; */
    
}
.wrap h2 {
    color: #8492af;
    float: left;
    font-size: 1.5em !important;
    font-weight: 600;
    margin: 1.5em 0em 1em 0.5em !important; 
  
}
.add{
    float:left;
    font-size:38px;
    vertical-align: middle;
   margin: 1.2em 0em 1em 0.8em !important; 
}
.panel-height{
    height:600px;
    overflow-y: scroll;
    overflow-x:hidden;
}
.trip-panel{
  height:400px;
    overflow-y: scroll;
    overflow-x:hidden;	
}
.panel-height-list{
    height:500px;
    overflow-y: scroll;
    overflow-x:hidden;
}
.wrapper {
     float:left;
    background: none;
    display: inline-block;
    width: 50%;
    height: 20%;
  
   
}
.sos-but{
background: red;
color:#fff;
width:200px;
height:200px;
font-size: 2em;
padding:60px;
vertical-align: middle;
text-align: center;
border-radius: 10%;
 margin-right:5em;
}
.sos-alert{
background:#0FAFE3;
color:#fff;
width:200px;
padding:40px;
height:200px;
font-size: 2em;
vertical-align: middle;
text-align: center;
border-radius: 10%;
margin-left: 3em;

}
.button-trip{
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 60%;
   padding:0 3em; 
   border-radius: 50%; 
   
}
.button-trip img {
    float: left;
    font-weight: 600;
    margin: 0;
    padding: 4em 0 0;
    margin-left:-1.8em;
}
.button-trip h2 {
    /*color: #8492af;*/
    color:#fff;
    float: left;
    font-size: 3em;
    font-weight: 600;
    margin: 2em 0em 2em 0.4em; 
   vertical-align: middle;
}
.sos-button{
    background: red;
     padding: 3em;
     margin: 6em;
     border-radius: 1em;
}
.sos-text{
   font-size:2.5em;
   color:#ffffff;
}
}
@media only screen and (max-device-width: 768px){
.panel-height{
     height:auto;
    overflow-y: scroll;
    overflow-x:hidden;
}
.trip-panel{
  height:100%;
    overflow-y: scroll;
    overflow-x:hidden;	
}
.panel-height-list{
    height:100%;
    overflow-y: scroll;
    overflow-x:hidden;
}
.wrap {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 45%;
   padding:0 0em;
}
.wrap img {
    float: left;

    font-weight: 600;
    margin: 0;
   /* padding: 1em 0 0 !important; */
    
}
.wrap h2 {
    color: #8492af;
    float: left;
    font-size: 1.5em !important;
    font-weight: 600;
    margin: 1.5em 0em 1em 0.5em !important; 
  
}
.add{
    float:left;
    font-size:38px;
    vertical-align: middle;
   margin: 1.2em 0em 1em 0.8em !important; 
}

.wrapper {
     float:left;
    background: none;
    display: inline-block;
    width: 50%;
    height: 20%;
  
   
}
.sos-but{
background: red;
color:#fff;
width:200px;
height:200px;
font-size: 2em;
padding:60px;
vertical-align: middle;
text-align: center;
border-radius: 10%;
 margin-right:5em;
}
.sos-alert{
background:#0FAFE3;
color:#fff;
width:200px;
padding:40px;
height:200px;
font-size: 2em;
vertical-align: middle;
text-align: center;
border-radius: 10%;
margin-left: 3em;

}
.button-trip{
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 60%;
   padding:0 3em; 
   border-radius: 50%; 
   
}
.button-trip img {
    float: left;
    font-weight: 600;
    margin: 0;
    padding: 4em 0 0;
    margin-left:-1.8em;
}
.button-trip h2 {
    /*color: #8492af;*/
    color:#fff;
    float: left;
    font-size: 3em;
    font-weight: 600;
    margin: 2em 0em 2em 0.4em; 
   vertical-align: middle;
}
.sos-button{
    background: red;
     padding: 3em;
     margin: 6em;
     border-radius: 1em;
}
.sos-text{
   font-size:2.5em;
   color:#ffffff;
}
}



